* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    max-width: 100%;
    min-height: 100vh;
    /* background-color: #ffce6b5c; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;


}

/* HEADER */
.header {

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    /* background-color: #ce6b5c; */
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    height: 4rem;
}

/* .header__logo {
    
    margin-right: 10px;
    width: 97px;
} */


.header__logo {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 10px;
    color: #E85C0D;
    font-weight: bold;
}

.header__menu {
    display: none;
}

.header__select {
    padding: 5px;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid #E85C0D;

}

.header__select:active {
    border: 2px solid #881022;
}

.header__boton {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #E85C0D;
    background-color: #881022;
    color: white;
}



/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;


}

.main__titulo--destacado {
    color: #881022;
    margin-right: 10px;

}

.main__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    z-index: -2;
    min-height: 100vh;

}

.main__titulo {
    color: #C7253E;
    margin: 0.625rem;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.tarjeta {
    padding: 0.5rem;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0.3rem;
    /* border: 1px solid black; */
    max-width: 100%;
    height: 17.75rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);


}

.tarjeta:hover {
    transform: scale(1.10);

}

.tarjeta__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    /* opacity: 0.7; */
}

.header_tarjeta {}

.tarjeta__titulo {
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
}

.tarjeta__fecha {
    color: white;
    text-align: center;
    font-size: 0, 75rem;
    position: absolute;
    left: 50%;
    top: 30%;
    /* width: 100%; */
    transform: translate(-50%, 40%);

}

.tarjeta__boton-accion {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #C7253E;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.tarjeta__boton {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 100%;
    transform: translate(-50%, -50%);

}

.tarjeta__dana {
    background-color: #f7eeef;
    overflow: auto;
}

/* FOOTER */
.footer {

    margin-top: auto;
    border-top: 1px solid #E85C0D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 8px 6px 6px 7px rgba(0, 0, 0, 0.2);

}

.footer__enlace {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    text-decoration: none;
    margin: 8px;
    color: #881022;
    font-size: 1.2rem;
}

/* .footer__enlace:visited {
    color: black;

} */

.footer__enlace--rrss {
    font-size: 1.7rem;
    color: #881022;

}

.footer__enlaces {
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer__autor {
    color: #E85C0D;
    opacity: 0.4;
    margin: 0.7em;
}

/* CSS DANA PAGE */
.header,
.main,
.footer,
.navegacion,
.lista-tarjetas,
.galeria__imagenes,
.map-container {
    max-width: 100%;


}

.navegacion {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
    border-radius: 8px;
    background-color: white;
    z-index: 10;



}

h6 {
    padding: 0.3rem;
    font-style: italic;
    text-align: center;
}

.contenido-tarjeta {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.3rem;
    list-style: none;
    word-wrap: break-word;
}

.contenido-tarjeta a {
    color: #a14e1d;
    text-decoration: none;
}

button {
    padding: 5px;
    border-radius: 4px;
}


.navegacion__item {
    text-decoration: none;
    color: #881022;
    padding: 0.7rem;
    text-align: center;
}

.navegacion__item:hover {
    color: #E85C0D
}

.parrafo {
    text-align: center;
    margin: 1rem;

}

span {
    font-weight: bold;
}

.h1 {
    color: #881022;
}

.tarjeta-h3 {
    color: #881022;
    padding: 0.5rem;
    text-align: center;
}

.lista-tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.descripcion {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: #ebe5e2;

}

.descripcion__img {
    width: 100%;
    height: 30rem;
    max-height: 100vh;
    /* Limita la altura a la vista del dispositivo */
    object-fit: cover;
    /* Asegura que la imagen se recorte adecuadamente */
}

.descripcion__parrafo {}

.section {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__links {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    /* Permite que se ajusten en varias filas en móviles */
    gap: 10px;
    padding: 0;
    margin: 1rem;

    margin: 1rem;
    list-style: none;
}

.link-twitter {
    width: 10rem;
    border-radius: 8px;
    list-style: none;

}

.h2 {
    margin: 1.6rem;
    text-align: center;
    color: #881022;
}

/* formulario */
#f {
    width: 100%;
}

.formulario {
    background-color: #f5f5f7;
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.formulario__header {
    text-align: center;
    margin-bottom: 20px;
}

.formulario__titulo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.formulario__descripcion {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.formulario__campo {
    margin-bottom: 20px;


}

.formulario__campo--fecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    height: 1.8rem;
    width: 17rem;
}

.form-content {
    width: 100%;
    padding: 1rem;
    /* background-color: rgb(235, 176, 176); */
    background: linear-gradient(#c68d95, #ffffff);
}

.formulario__input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
}

.formulario__input:focus {
    border-color: #881022;
    outline: none;
    box-shadow: 0 0 0 2px rgba(227, 0, 57, 0.2);
}

.formulario__boton {
    background-color: #C7253E;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.formulario__boton:hover {
    background-color: #E85C0D;
}

.formulario__mensaje {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

.form_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* GALERIA IMAGENES */
.galeria {
    display: grid;
    grid-template-columns: 1fr;
    /* Una columna por defecto */
    gap: 10px;
    list-style-type: none;
    padding: 0;



}

.galeria img {
    border-radius: 24px;

    padding: 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    display: block;
}



@media (min-width: 768px) {
    .main {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .main__titulo {
        margin: 0.8em;
    }

    .header__select,
    .header__boton {
        display: none;
    }

    .header__menu {
        display: flex;
        gap: 2.5rem;
        list-style: none;
    }

    .header__nav {
        color: #881022;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
    }

    .header__nav:hover {
        color: #C7253E;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
        /* Cambia a 2 columnas */
    }

    .lista-tarjetas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .lista-tarjetas .tarjeta {
        width: 20.33%;
        height: 20.625rem;
    }

    p {
        font-size: 1.3rem;
    }

    body {
        font-size: 1.1rem;
    }

}